---
import '../styles/layout.css';
import Sidebar from '../components/sidebar.astro';
import { baseString } from '../../astro.config.mjs';

const links = {
  home: baseString,
  onyx: baseString + 'documents/onyx-spec',
  team: baseString + 'team',
  messages: baseString + 'messages',
  logistics: baseString + 'logistics',
  sa558: baseString + 'contracts/sa558',
  charsheet: baseString + 'charsheet',
};
---

<main>
  <div class="page-scroll">
    <slot />
  </div>
  <footer>
    <div class="flex-between gap-4">
      <div class="flex-col gap-4">
        <span>IMI GLOBAL</span>
        <span>USER-0469</span>
      </div>
      <Sidebar id="tacticalNav" buttonClass="nav-toggle" buttonText="≡" innerClass="nav-content">
        <ul>
          <div class="flex-col gap-4">

          <li><a class="nav-link" href={links.home}>Home</a></li>

          <li>
            <span>Available documents</span>
            <ul>
              <li>
                <a class="nav-link" href={links.onyx}>ONYX initiative</a>
              </li>
            </ul>
          </li>
          <li>
            <span>My data</span>
            <ul>
              <li><a class="nav-link" href={links.team}>Team</a></li>
              <li>
                <a class="nav-link" href={links.messages}>Messages<span class="tag"> 1</span></a>
              </li>
              <li><a class="nav-link" href={links.logistics}>Logistics</a></li>
              <li>
                <a class="nav-link" href={links.sa558}>Contracts<span class="tag"> 1</span></a>
              </li>
            </ul>
          </li>
          </div>
        </ul>
        <div class="nav-operational">
          <div class="flex-between-baseline gap-4"><span class="status connected">Online</span><span class="text-desc">Biomonitor</span></div>
          <div class="flex-between-baseline gap-4"><span class="status reconnect">Reconnection</span><span class="text-desc">Equipment</span></div>
          <a class="nav-link" href={links.charsheet} onclick="if(location.pathname.includes('charsheet')){event.preventDefault()}">Operational</a>
        </div>
      </Sidebar>
    </div>
  </footer>
</main>
