---
import '../styles/layout.css';
import Sidebar from '../components/sidebar.astro';
import { baseString } from '../../astro.config.mjs';

const links = {
  home: baseString,
  onyx: baseString + 'documents/onyx-spec',
  team: baseString + 'team',
  messages: baseString + 'messages',
  logistics: baseString + 'logistics',
  sa558: baseString + 'contracts/sa558',
  armor: baseString + 'armor',
  biomon: baseString + 'biomon'
};
---

<main>
  <div class="page-scroll">
    <slot />
  </div>
  <footer>
    <div class="flex-between gap-4">
      <div class="flex-col gap-4">
        <span>IMI GLOBAL</span>
        <span>USER-0469</span>
      </div>
      <Sidebar id="tacticalNav" buttonClass="nav-toggle" buttonText="≡">
        <ul>
          <div class="flex-col gap-4">

          <li><a href={links.home}>Home</a></li>

          <li>
            <span>Available documents</span>
            <ul>
              <li>
                <a href={links.onyx}>ONYX initiative</a>
              </li>
            </ul>
          </li>
          <li>
            <span>My data</span>
            <ul>
              <li><a href={links.team}>Team</a></li>
              <li>
                <a href={links.messages}>Messages<span class="tag"> 1</span></a>
              </li>
              <li><a href={links.logistics}>Logistics</a></li>
              <li>
                <a href={links.sa558}>Contracts<span class="tag"> 1</span></a>
              </li>
            </ul>
          </li>
          <li>
            <span>Operational</span>
            <ul>
              <li><a href={links.biomon}><div class="flex-between-baseline gap-4"><span class="status connected">Online</span>Biomon</div></a></li>
              <li><a href={links.armor}><div class="flex-between-baseline gap-4"><span class="status reconnect">Reconnection</span>Equipment</div></a></li>
            </ul>
          </li>
          </div>
        </ul>
      </Sidebar>
    </div>
  </footer>
</main>
